.App {
	height: 100%;
	min-height: 100vh;
	padding: 50px 0px 0px 100px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	text-align: center;
	background-color: rgb(41, 38, 49);
	margin-top: 80px;
  }
  
  h1 {
	color: white;
	text-align: left;
  }

  .category {
	align-items: center;
	float: left;
	margin-bottom: 50px;
  }
  
  .books {
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding-bottom: 10px;
  }
  
  .book {
	max-width: 20vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 20px;
	box-shadow: rgba(246, 249, 255, 0.2) 0.25em 0.5em 10px 2px;
	color: black;
	position: relative;
  }
  
  .imgContainer {
	position: relative;
	width: 100%;
  }
  
  img {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
  }
  
  .overlay {
	position: absolute;
	inset: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 20px 20px 0 0;
  }
  
  .imgContainer:hover .overlay {
	opacity: 1;
  }
  
  .overlay-button {
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	border: none;
	padding: 10px;
	margin: 5px 0;
	cursor: pointer;
	border-radius: 5px;
	transition: background 0.3s ease;
  }
  
  .overlay-button:hover {
	background-color: #ff4747;
  }
  
  .title {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 24px;
  }
  
  .description {
	margin-top: 20px;
	color: #555;
  }
  
  .add-to-cart {
	background-color: gold;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: auto;
  }
  
  .add-to-cart:hover {
	background-color: rgb(253, 234, 124);
	cursor: pointer;
  }
  
  .link {
	text-decoration: none;
  }

  .white {
	color: white;
  }
  
  .addBtn {
	margin: auto 0px;
	font-size: 2em;
	color: white;
	height: 10vh;
	border-radius: 20px;
	border: 2px solid rgba(114, 121, 136, 0.2);
	background-color: mediumseagreen;
	box-shadow: rgba(114, 121, 136, 0.2) 0.25em 0.5em 10px;
  }
  
  .form {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  
  input {
	width: 250px;
	padding: 10px;
	border: 1px solid gray;
  }
  
  .formButton {
	border: none;
	padding: 10px;
	background-color: navy;
	color: white;
	font-weight: bold;
	cursor: pointer;
  }

  .Navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	background-color: #9d85dd;
	width: 100vw;
	height: auto;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
	flex-wrap: wrap;
	box-shadow: black 0px 2px 10px 2px;
  }
  
  .Navlogo {
	margin-left: 60px;
	align-self: center;
	width: auto;
	height: calc(5vh + 1vw);
	max-height: 15vh;
	box-shadow: none;
  }

  .Navbuttons {
	margin-right: 60px;
	display: flex;
	align-content: center;
	gap: calc(4px + 2vw);
	/* WTF IS GOING ON HERE?? No + but necessary for centering?? */
	height: calc(10px 5vh);
  }
  
  .navCheckout {
	align-self: center;
	height: calc(5px + 4vw);
	max-height: 5vh;
	border: none;
	border-radius: 5px;
	color: black;
	background-color: white;
	padding: calc(2px + 0.5vw);
	text-align: center;
  }
  